.adding
{
    margin-left: 10px;
    margin-right: 10px;
      width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}
    	input[type="text"] {
      margin: 30px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

    @media screen and (min-width: 991px) and (max-width: 1200px)
{
    .panel-default
{
    margin-left: 50px;
}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
      width: auto;
	}
    	input[type="text"] {
      margin: 30px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
    .wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}


}