.pcontent {
    height:150px;
}

.infoheader
{
    color: white;
    margin-left: 10px
}

.intro
{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 10px;
}

.panel-default
{
    margin-left: 10px;
    margin-right: 10px;
}

.panel-heading
{
    text-align: center;
}

body{
  background-image: url("../images/background.png");
  background-size: cover;
  
}
@media screen and (max-width: 991px) {

.intro
{
    margin-bottom: 20px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
}

body{
  background-image: url("../images/background.png");
  background-size: cover;
  
}

}

@media screen and (min-width: 991px) and (max-width:992px){

.panel-default
{
    margin-left: 30px;
} 

.intro
{
    margin-bottom: 20px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
}

body{
  background-image: url("../images/background.png");
  background-size: cover;
  
}


}

